# Rename this file to .env once you have filled in the below environment variables!

# Your OpenAI API key is required for both voice transcription and chat responses
OPENAI_API_KEY=

# The chat model you want to use. gpt-4o is a good default
OPENAI_MODEL=gpt-4o
